<h2>Git & Github Tutorial</h2>
<h3>Create an account & install Git</h3>
<section>
{{#if emberTutorial.checkValue_4}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
<div class="ul_li_colored_2 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_4}}</div>
</section>
<h3>Setting up your project</h3>
<section>
{{#if emberTutorial.checkValue_5}}
<p></p>
{{else}}
<p>// TODO</p>
{{/if}}
<div class="ul_li_colored_2 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_5}}</div>
</section>
<h3>How to use Git & Github</h3>
<section>
{{#if emberTutorial.checkValue_6}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
<div class="ul_li_colored_2 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_6}}</div>
</section>
