<h2>Git & Github Tutorial</h2>
<h3>How to use Versioning{{input type="checkbox" checked=emberTutorial.checkValue_4}}</h3>
<section>
{{#if emberTutorial.checkValue_4}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
</section>
<h3>Clone and setup Project {{input type="checkbox" checked=emberTutorial.checkValue_5}}</h3>
<section>
{{#if emberTutorial.checkValue_5}}
<p></p>
{{else}}
<p>// TODO</p>
{{/if}}
</section>
<h3>Create an account & install Git  {{input type="checkbox" checked=emberTutorial.checkValue_6}}</h3>
<section>
{{#if emberTutorial.checkValue_6}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
</section>
