<h2>Heroku Tutorial</h2>                              <a href="#" target="_blank"> </a>
<h3><strong>Step 10 - </strong>Setup Account</h3>
<section>
{{#if emberTutorial.checkValue_10}}
<p></p>
{{else}}
<p>Go to <a href="https://dashboard.heroku.com/" target="_blank">Heroku Dashboard</a>, 
and get an account ready to go... After, go back to the root of your project 
on the terminal and do the following:</p>
<ol>
<li>TODO</li>
</ol>
{{/if}}
<div class="ul_li_colored_4 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_10}}</div>
</section>
<h3><strong>Step 11 - </strong>Hook Github Project</h3>
<section>
{{#if emberTutorial.checkValue_11}}
<p></p>
{{else}}
<p>// TODO</p>
{{/if}}
<div class="ul_li_colored_4 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_11}}</div>
</section>
<h3><strong>Step 12 - </strong>Live Website test </h3>
<section>
{{#if emberTutorial.checkValue_12}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
<div class="ul_li_colored_4 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_12}}</div>
</section>
