<h2>Heroku Tutorial</h2>
<h3>Setup Account</h3>
<section>
{{#if emberTutorial.checkValue_10}}
<p></p>
{{else}}
<p>First things first then... Go to <a href="https://dashboard.heroku.com/" target="_blank">Heroku Dashboard</a>. //TODO</p>
{{/if}}
<div class="ul_li_colored_4 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_10}}</div>
</section>
<h3>Hook Github Project</h3>
<section>
{{#if emberTutorial.checkValue_11}}
<p></p>
{{else}}
<p>// TODO</p>
{{/if}}
<div class="ul_li_colored_4 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_11}}</div>
</section>
<h3>Live Website test </h3>
<section>
{{#if emberTutorial.checkValue_12}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
<div class="ul_li_colored_4 ember_confirmation">Section complete? {{input type="checkbox" checked=emberTutorial.checkValue_12}}</div>
</section>
