<h2>Testing Tutorial</h2>
<h3>Project Tests {{input type="checkbox" checked=emberTutorial.checkValue_7}}</h3>
<section>
{{#if emberTutorial.checkValue_7}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
</section>
<h3>TravisCI {{input type="checkbox" checked=emberTutorial.checkValue_8}}</h3>
<section>
{{#if emberTutorial.checkValue_8}}
<p></p>
{{else}}
<p>// TODO</p>
{{/if}}
</section>
<h3>CodeClimate {{input type="checkbox" checked=emberTutorial.checkValue_9}}</h3>
<section>
{{#if emberTutorial.checkValue_9}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
</section>
