<h2>Ubuntu Tutorial</h2>
<h3>Virtual Box & Ubuntu 14.04 {{input type="checkbox" checked=emberTutorial.checkValue_1}}</h3>
<section>
{{#if emberTutorial.checkValue_1}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
</section>
<h3>Overall Dependencies {{input type="checkbox" checked=emberTutorial.checkValue_2}}</h3>
<section>
{{#if emberTutorial.checkValue_2}}
<p></p>
{{else}}
<p>// TODO</p>
{{/if}}
</section>
<h3>Project Dependencies {{input type="checkbox" checked=emberTutorial.checkValue_3}}</h3>
<section>
{{#if emberTutorial.checkValue_3}}
<p></p>
{{else}}
<p>//TODO</p>
{{/if}}
</section>
